.colores {
    background-color: rgb(241, 239, 239);
}

/* Header */
.container__header-nav{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    background-color: white;
    .container__menu{
        display: flex;
    }
    .container__nav-links{
        display: flex;
        align-items: center;
  

    }
    .site-logo__img{
        width: 50px;
        overflow-clip-margin: content-box;
        overflow: clip;
        margin-left: 130px;
        margin-bottom: 3px;
    }
    .btn-search{
        justify-self: flex-end;
        border: none;
        background: none;
        margin-left: 500px;
    }
    .avatar__image{
        border-radius: 100%;
        width: 35px;
    }
    
    .nav-mobile__principal-list{
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: black;
        }
        img{
            width: 24px;
            height: 24px;
        }
    }

    .nav-mobile__other-list{
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: hsl(24, 24, 24);
        }
        img{
            width: 24px;
            height: 24px;
        }
    }

    .container__social-media{
        img{
            color: gray;
        }

    }
    .container__nav-sesion{
        display: flex;
        align-items: center;

    }
}

@media only screen and (min-width: 768px) {
  .container__header-nav{
    .input-search {
        width:500px;
    }
    .btn-search{
        position: relative;
    }
    .img-search{
        position: absolute;
        top: 8px;
        left: -50px;
    }
  }
}
/*fin de header*/

/*Inicio iside1*/
.container__aside-left {
  
    .container__menu{
        display: flex;
    }
    .container__nav-links{
        display: flex;
        align-items: center;
    }

    .nav-mobile__principal-list{
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: black;
        }
        img{
            width: 24px;
            height: 24px;
        }
    }

    .nav-mobile__other-list{
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: hsl(24, 24, 24);
        }
        img{
            width: 24px;
            height: 24px;
        }
        
    }

    .other {
        list-style-type: none;
    }
    .container__social-media{
        img{
            color: gray;
        }

    }
    .conatiner__nav-sesion{
        display: flex;
        align-items: center;
    }
}

/*fin de aside1*/
.container-md { /* Linea 218*/
    margin-top: 30px;



        /*div main*/
    .main--card { /* Linea 428*/
        margin-top: 55px;
        margin-bottom: -45px;
        .card-body{
            /*scss primer post*/
            .container__primer--post {

                
                .container__Hackertab {
                    display: flex;
                    flex-direction: row;
                    .img--ht {
                        
                        .images__ht {
                            width: 30px;
                            height: 30px;
                            border-radius: 5px;
                            
                        }
                    }
                    .text__Hackertab {
                        font-size: 13px;
                        margin-left: 8px;
                        
                    }


                }
                .container__complement {
                    display: flex;
                    flex-direction: row;
                    .images__complement {
                        width: 20px;
                        height: 20px;
                        border-radius: 30px;
                        border-color: white;
                        border: 10px;
                        margin-left: 15px;
                        margin-top: -15px;
                        background-color: rgb(227, 224, 231);
                    }
                    .text__complement {
                        font-size: 12px;
                        margin-top: -15px;
                    }
                }
                .text__center {
                    
                    
                    font-size: 23px;
                    margin-left: 30px;
                        
                }
                .container__buttons {
                    display: flex;
                    flex-direction: row;
                    .btn {
                        font-size: 12px;
                        width: auto;
                        height: auto;
                        
                    }
                }
                .container_comments {
                    display: flex;
                    flex-direction: row;
                }
                .icons__reactions--comm {
                    display: flex;
                    flex-direction: row;
                
                    .icon--reactions {
                        width: 25px;
                        height: 25px;
                        border-radius: 50px;
                        
                        border-style: solid;
                        border-color: white;
                        margin-left: -10px;
                        background-color: rgb(227, 224, 231);
                    }
                }
                .reactions__comments--read {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .num--reactions {
                        font-size: 13px;
                        margin-left: 10px;
                        margin-top: 5px;
                    }
                    .num--comments {
                        font-size: 13px;
                        margin-left: 15px;
                        margin-top: 5px;
                    }
                    .min__read {
                        display: flex;
                        flex-direction: row;
                        font-size: 10px;
                        margin-left: 150px;
                        margin-top: 8px;
                    }
    
                }

            }

            /*scss segundo post
            .images__card__dev {
                
                .images__dev {
                
                    
                }
            }*/

        }
        
    }



    /*div derecho*/
    .col {   
        
        background-color: rgb(241, 239, 239);
        
        /*Card 1*/
        .card1 {
        
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 10px;
            border-radius: 8px;
            
            
            .card1__tittle {
                padding-top: 20px;
                padding-right: 10px;
                margin-bottom: 15px;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .dev {
                    font-size: 14px;
                }
                
                .imagen {
                
                    .card-img-top {
                        width: 10px;
                        margin-left: 100px;
                    }
                }
        
            
            }
        }
        /*Card 2*/
        .card--group1 {
            margin-bottom: 10px; 
               
            .list-group {
                 
                
                .list-group-item {
                    height: auto;
                    background-color: rgb(246, 250, 245);
                        
                    .card2__tittle {
                        margin-top: 6px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        font-size: 19px;
                            
                        .Link--See {
                            text-decoration:none;
                            font-size: 13px;
                        }
                    }
                        .card2__footer {
                            text-align: center;
                            font-size: 14px;
                            

                        }
                }
            
            }   
            .card2__link--item {
                 text-decoration:none;
            }
            .list-group-item:hover {
                background-color: white;
                color:blue;
            }
            .card2__footer:hover {
                color: blue;
            }
        

        
        }

        .card--group2 {
            .tittles__ul {
                .tittle--one {
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 15px;
                    letter-spacing:0.08em;
                }
            }
            .list--group2 {
                .card5__link--item {
                    text-decoration:none;
                    color: rgba(0, 0, 0, 0.777);
                    }
                    .list-group-item:hover {
                        background-color: white;
                        color:blue;
                    }
                    
            }
        }



    }
}

@media only screen and (max-width: 768px) {
    .reactions__comments--read {
        display: flex;
        justify-content: center;
        .num--reactions{
            display: none;
        }
        .num--comments {
            .comments--num {
                display: none;
            }
        }
       
    }
}

.card--divder {
    max-width: 25rem;
    .card-header {
        display: flex;
        flex-direction: row;
        height: 40px;
        .images--divderecho {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            margin-top: 15px;
            border: 10px;
            border-color: black;
        }
        .text--madza {
            font-size: 20px;
            font-weight: bold;
            margin-top: 40px;
            
        }
    }
    .card-body {
        margin-top: 40px;
        .card-text {
            margin-top: 20px;
        }
    }
}
.card-title {
    margin-top: 20px;
}

a:link {
    text-decoration: none;
  }

.link-op {
    text-decoration:dotted;

}
.text__center--post {
    font-size: 50px;
    font-weight: bold;
}
.container__buttons--post {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container_comments--post {
    margin-top: 30px;
}

.icons__reactions__post {
    display: flex;
    flex-direction: row;
    .icon--reactions__post {

        margin-left: 50px;
    }
    .num__icon--post {
        margin-left: 15px;
    }
    
}
.reactions__comments--post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.text__center--post--text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 30px;

    .text--post {
        font-size: 20px;
        margin-left: 35px;
        margin-right: 35px;
    }
    
}

.img__center--post {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .img--center {
        width: 650px;
        height: 350px;

    }
}
