.container__header-nav{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    .container__menu{
        display: flex;
    }
    .container__nav-links{
        display: flex;
        align-items: center;
    }
    .site-logo__img{
        width: 50px;
        overflow-clip-margin: content-box;
        overflow: clip;
        margin-left: 0PX;
    }
    .btn-search{
        justify-self: flex-end;
       border: none;
       background: none;
    }
    .avatar__image{
        border-radius: 100%;
        width: 35px;
    }
    
    .nav-mobile__principal-list{
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: black;
        }
        img{
            width: 24px;
            height: 24px;
        }
    }

    .nav-mobile__other-list{
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: hsl(24, 24, 24);
        }
        img{
            width: 24px;
            height: 24px;
        }
    }

    .container__social-media{
        img{
            color: gray;
        }

    }
    .conatiner__nav-sesion{
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {
  .container__header-nav{
    .input-search {
        width:500px;
    }
    .btn-search{
        position: relative;
    }
    .img-search{
        position: absolute;
        top: 8px;
        left: -50px;
    }
  }
}

.container__aside-left{
  
    .container__menu{
        display: flex;
    }
    .container__nav-links{
        display: flex;
        align-items: center;
    }
    .site-logo__img{
        width: 50px;
        overflow-clip-margin: content-box;
        overflow: clip;
        margin-left: 0PX;
    }
    .btn-search{
        justify-self: flex-end;
       border: none;
       background: none;
    }
    .avatar__image{
        border-radius: 100%;
        width: 35px;
    }
    
    .nav-mobile__principal-list{
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: black;
        }
        img{
            width: 24px;
            height: 24px;
        }
    }

    .nav-mobile__other-list{
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: hsl(24, 24, 24);
        }
        img{
            width: 24px;
            height: 24px;
        }
    }

    .container__social-media{
        img{
            color: gray;
        }

    }
    .conatiner__nav-sesion{
        display: flex;
        align-items: center;
    }
}
























a {
    text-decoration: none;
}

.principal-header {
    border: 2px solid hotpink;
    height: 60px;

    .container__nav {
        display: flex;
        justify-content: space-between;
        border: 1px solid blue;
        align-items: center;
        width: 85%;
        height: 57px;
        margin-left: 7.5%;
        align-content: center;

        .site-logo__img {
            max-width: 100%;
            width: auto;
            height: 50px;
            object-fit: contain;
            vertical-align: middle;
            display: inline-block;
            outline: 0;
        }

        .avatar__image {
            max-width: 100%;
            width: auto;
            height: 50px;
            object-fit: contain;
            vertical-align: middle;
            display: inline-block;
            outline: 0;
        }

    }

}